@font-face {
	font-family: Bara full;
	font-display: swap;
	src: url("../fonts/Bara full.woff2") format("woff2"), url("../fonts/Bara full.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
