// Заголовки, общие БЄМ блоки и проче...
.title {
    font-size: rem(38);
    line-height: rem(44); 
letter-spacing: rem(1.2);
}
.sub__title {
    font-size: rem(18);
    line-height: rem(28);
}